*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #050607;
  color: #ffffff;
  font-family: system-ui, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.main-os {
  width: 90%;
  height: 80%;
  background: #050607;
  border: 1px solid rgba(220, 235, 255, 0.08);
  border-radius: 24px;
  overflow: hidden;
  /* padding: 32px; */
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.55),
    inset 0 0 0 1px rgba(220, 235, 255, 0.03);
}
/* Header (Start) */
.header-os {
  width: 100%;
  height: 100px;
  /* background-color: rgba(220, 235, 255, 0.12); */
  display: flex;
}
/* Header - Left Side (Start) */
.header-os .left-side {
  width: 50%;
  height: 100%;
  padding: 10px 20px;
  display: flex;
}

.header-os .left-side .user-info {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header-os .left-side .user-info .avatar {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-os .left-side .user-info .avatar img {
  width: 60px;
  height: auto;
}

.header-os .left-side .user-info .username {
  color: #e6edf5;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.04em;
  margin-left: 22px;
}

/* Header - Left Side (End) */
/* Header - Right Side (Start) */
.header-os .right-side {
  width: 50%;
  height: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: row-reverse;
  /* background-color: rgb(11, 82, 205); */
}

.header-os .right-side .os-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header-os .right-side .os-info .time {
  color: #e6edf5;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.04em;
  margin-right: 50px;
}

.header-os .right-side .os-info .wifi {
  margin-right: 10px;
}

.header-os .right-side .os-info .wifi img {
  width: 35px;
}

.header-os .right-side .os-info .controller img {
  width: 45px;
}
/* Header - Right Side (End) */
/* Header (End) */
