*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #050607;
  color: #ffffff;
  font-family: system-ui, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.main-os {
  width: 90%;
  height: 80%;
  background: #050607;
  border: 1px solid rgba(220, 235, 255, 0.08);
  border-radius: 24px;
  overflow: hidden;
  /* padding: 32px; */
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.55),
    inset 0 0 0 1px rgba(220, 235, 255, 0.03);
}
.header-os {
  width: 100%;
  height: 100px;
  background-color: rgba(220, 235, 255, 0.12);
  display: flex;
}

.header-os .left-side {
  width: 50%;
  height: 100%;
  padding: 10px 20px;
}

.header-os .left-side .user-info {
  display: flex;
  align-items: center;
}

.header-os .left-side .user-info .avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #171c23; /* همون خاکستری تصویر */
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #2a3643;
  border-style: solid;
  border-width: 1px;
}

.header-os .left-side .user-info .avatar .avatar-svg {
  width: 42px;
  height: 42px;
  fill: #535b64; /* سفید نرم داخل */
}

.header-os .left-side .user-info .username {
  color: #E6EDF5;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.header-os .right-side {
  width: 50%;
  height: 100%;
  background-color: rgb(11, 82, 205);
}
