body {
  background: #050607;
  color: #ffffff;
  font-family: system-ui, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.main-os {
  width: 90%;
  height: 80%;
  background: #050607;
  border: 1px solid rgba(220, 235, 255, 0.08);
  border-radius: 24px;
  overflow: hidden;
  /* padding: 32px; */
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.55),
    inset 0 0 0 1px rgba(220, 235, 255, 0.03);
}
.header-os {
  width: 100%;
  height: 100px;
  background-color: rgba(220, 235, 255, 0.12);
}
